body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 16px
}

a {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

.section-one{
    background-color: #1f2937;
    padding: 25px 100px;
    text-align: center;
}

.header{
    color: #fff;
    font-size: 2.5rem;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.hero{
    display: flex;
    justify-content: space-around;
    flex: 1;
    align-items: center;
}

.hero-left{
    flex: 1;
    text-align: left;
}

.hero-title{
    font-size: 48px;
    color: #f9faf8;
    font-weight: 800;
}

.hero-text{
    font-size: 18px;
    color: #E5E7EB;
}

.hero-button{
    background-color: #3882f6;
    color: #eef1f6;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}

.section-two{
    padding: 25px 100px;
    text-align: center;
}

.section-two-content{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.button-content{
    display: flex;
    justify-content: space-around;
    padding: 75px 75px;
    border-radius: 10px;
    background-color: white;
    border: 5px solid #3882f6;
}

.section-three{
    padding: 25px 200px;
    text-align: center;
    background-color: #E5E7EB;
}

.quote{
    font-size: 36px;
    color: #1f2937;
    font-weight: 300;
    font-style: italic;
}

.quote-author{
    font-size: 24px;
    color: #1f2937;
    font-weight: 800;
    margin-top: 20px;
    text-align: right;
}

.section-four{
    padding: 25px 100px;
    text-align: center;
}

.call-to-action{
    background-color: #3882f6;
    border-radius: 10px;
    padding: 25px 75px;
    display: flex;
    justify-content: space-between;
}

.call-to-action-title{
    color: #eef1f6;
    font-size: 36px;
    font-weight: 800;
}

.call-to-action-text{
    color: #eef1f6;
    font-size: 18px;
    font-weight: 300;
}

.call-to-action-button{
    background-color: #3882f6;
    color: #eeeeee;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    border: 2px solid #eef1f6;
    display: inline-block;
    height: auto;
}

.footer{
    background-color: #1f2937;
    padding: 25px 100px;
    text-align: center;
    color: #eef1f6;
}